/*  Spaces */
$xxxsmall: 0.125em; /* 2px */
$xxsmall: 0.25em; /* 4px */
$xsmall: 0.5em; /* 8px */
$small: 0.75em; /* 12px */
$normal: 1em; /* 16px */
$medium: 1.5em; /* 24px */
$large: 2em; /* 32px */
$xlarge: 4em; /* 64px */

* {
	box-sizing: border-box;
	font-family: Lato, sans-serif;
}

#app {
	padding: $large;
	width: 400px;
	margin: $xlarge auto 0;
	color: #686868;
}

h1,
h2 {
	margin-top: 0;
	font-size: 1em;
	font-weight: 700;
	border-bottom: $xxxsmall solid #666;
	padding-bottom: $xxsmall;
	text-transform: uppercase;
}

h2 {
	margin-bottom: 0;
}

h1,
form {
	margin-bottom: $large;
}


button[type="submit"] {
	margin-left: $xxsmall;
	padding: 8px 6px 6px 6px;
}

input[type="text"] {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	padding: $xsmall;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 6px;
	color: #888;
}

#input-field {
	width: 272px;
	//padding: 8px 8px 8px 8px;
}

#completed-tasks,
#incomplete-tasks {
	list-style: none;
	padding-left: 0;
	margin: 0 0 $medium 0;

	li {
		display: flex;
		padding: $normal 0;
		height: 72px;

		input[type=text] {
			display: none;
		}

		label {
			display: inline-block;
		}

		input[type=text],
		label {
			margin-left: $xsmall;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;
			line-height: 40px;
		}

		input[type="checkbox"] {
			margin: $small 0 $xsmall;
		}

		i {
			font-size: $normal;
			display: inline-block;
		}

		i.fa-trash {
			margin: $small 0 $xsmall $xsmall;
		}

		i.edit {
			margin: $small 0 $xsmall auto;
		}

		i.fa {
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	}

	li.edit-mode {

		input[type=text] {
			display: inline-block;
		}

		label {
			display: none;
		}

	}

}

#completed-tasks {

	label {
		text-decoration: line-through;
	}
}
