/*  Spaces */

$xsmall: 0.25em;
$small: 0.5em;
$normal: 1em; /* 16px */
$medium: 1.5em;
$large: 2em;

* {
	box-sizing: border-box;
}

#app {
	padding: $large;
	width: 400px;
	margin: 60px auto 0;
	color: #686868;
}

h1,
h2 {
	margin-top: 0;
	font-size: 1em;
}

h2 {
	margin-bottom: 0;
}

form {
	margin-bottom: 2em;
}

i.fa-plus {
	display: inline-block;
	margin-left: $small;
	height: $medium;
	line-height: $medium;
	padding: 0 6px;
	color: #fff;
	background-color: lightslategray;
}

input#input-field {
	width: 86%;
	height: 28px;
	border-radius: $xsmall;
	padding-left: $xsmall;
}

#complete-tasks,
#incomplete-tasks {
	list-style: none;
	padding-left: 0;
	margin: 0 0 $medium 0;

	input,
	span {
		display: inline-block;
		margin-left: $small;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
	}

	li {
		display: flex;
		padding: $normal 0;

		i {
			font-size: $normal;
			display: inline-block;
		}

		i.fa-trash {
			margin-left: $small;
		}

		i.edit {
			margin-left: auto;
		}
	}

}