/*  Spaces */

$xsmall: 0.25em;
$small: 0.5em;
$normal: 1em; /* 16px */
$medium: 1.5em;
$large: 2em;

* {
	box-sizing: border-box;
}

#app {
	padding: $large;
	width: 400px;
	margin: 60px auto 0;
	color: #686868;
}

h1,
h2 {
	margin-top: 0;
	font-size: 1em;
}

h2 {
	margin-bottom: 0;
}

form {
	margin-bottom: 2em;
}

i.fa-plus {
	display: inline-block;
	margin-left: $small;
	height: $medium;
	line-height: $medium;
	padding: 0 6px;
	color: #fff;
	background-color: lightslategray;
}

input#input-field {
	width: 86%;
	height: 28px;
	border-radius: $xsmall;
	padding-left: $xsmall;
}

#completed-tasks,
#incomplete-tasks {
	list-style: none;
	padding-left: 0;
	margin: 0 0 $medium 0;

	li {
		display: flex;
		padding: $normal 0;

		input[type=text] {
			display: none;
		}

		label {
			display: inline-block;
		}

		input[type=text],
		label {
			margin-left: $small;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;
		}

		i {
			font-size: $normal;
			display: inline-block;
		}

		i.fa-trash {
			margin-left: $small;
		}

		i.edit {
			margin-left: auto;
		}
	}

	li.edit-mode {

		input[type=text] {
			display: inline-block;
		}

	}

}

#completed-tasks {

	label {
		text-decoration: line-through;
	}
}
