.idea/

ToDoApp/css/.sass-cache

JSBoilerPlate/public/css/
JSBoilerPlate/public/js/
JSBoilerPlate/public/imgs/

PortfolioDemo/node_modules
PortfolioDemo/dist/
PortfolioDemo/src/css/
PortfolioDemo/src/.sass-cache
