
body {
	overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
	@extend %headings;
}


p {
	font-size: 20px;

	&.small {
		font-size: 16px; }
}


a {
	&:hover,
	&:focus,
	&:active,
	&.active {
		outline: 0;
		color: #2F9AFF;
	}
}

hr.star-light,
hr.star-primary {
	margin: 25px auto 30px;
	padding: 0;
	max-width: 250px;
	border: 0;
	border-top: solid 5px;
	text-align: center; }

//noinspection CssNoGenericFontName
hr.star-light:after, hr.star-primary:after {
	content: "\f005";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .25em;
	font-family: FontAwesome;
	font-size: 2em; }


hr.star-light {
	border-color: #fff;

	&:after {
		color: #fff;
		background-color: #2F9AFF;
	}
}

hr.star-primary {
	border-color: #2c3e50;

	&:after {
		color: #2c3e50;
		background-color: #fff;
	}
}


