/* color */

$white:				#ffffff;
$mountain-meadow:	#18bc9c;
$dodger-blue:		#2F9AFF;
$bluewood:			#2c3e50;
$ebony-clay:		#233140;
$gallery:			#eeeeee;

$color-background-primary:		$white;
$color-background-secondary:	$dodger-blue;
$color-background-tertiary:		$bluewood;
$color-background-footer:		$ebony-clay;
$color-text-primary:			$bluewood;
$color-text-secondary:			$white;
$color-text-active:				$dodger-blue;
$color-nav-active:				$mountain-meadow;
$color-border:					$gallery;
$color-border-light:			$white;
$color-border-dark:				$bluewood;

/* dimensions */