
/* Navbar */
.navbar {
	@extend %headings;

	.navbar-nav {
		letter-spacing: 1px;

		li a:focus {
			@extend %remove-outline;
		}

	}

	a:focus {
		@extend %remove-outline
	}
}


.navbar-default {
	@extend %remove-border;

	.navbar-nav li.active a {
		background-color: $color-nav-active;
	}
}

.navbar-inverse {
	@extend %remove-border;
}

.navbar-fixed-top {
	@media #{$min-width} {
		padding: 25px 0;
		transition: padding .3s;
	}

	&.navbar-shrink {
		@media #{$min-width} {
			padding: 10px 0;
		}

		.navbar-brand {
			@media #{$min-width} {
				font-size: 1.5em;
			}
		}

	}
	.navbar-brand {
		@media #{$min-width} {
			font-size: 2em;
			transition: all .3s;
		}
	}
}


/* tagline & avatar */

.img-headshot {
	height: 250px;
	position: relative;
	z-index: 10;
	margin-top: 40px;
	clip-path: circle(84px at center 124px);
	-webkit-clip-path: circle(84px at center 124px);
	-moz-clip-path: circle(84px at center 124px); }

.img-centered {
	margin: 0 auto;
}

header {
	position: relative;
	text-align: center;
	color: $color-text-secondary;
	background: $color-background-secondary;

	.container {
		padding-top: 100px;

		@media #{$min-width} {
			padding-top: 200px;
		}

	}

	img {
		display: block;
		margin: 0 auto; }

	.intro-text {

		.name {
			@extend %headings;
			display: block;
			font-size: 2em;

			@media #{$min-width} {
				font-size: 4.75em;
			}
		}

		.skills {
			font-size: 1.25em;
			font-weight: 300;

			@media #{$min-width} {
				font-size: 1.75em;
			}
		}
	}
}



header::after {
	content: '';
	display: block;
	width: 100%;
	height: 190px;
	position: absolute;
	transform: skewY(-5deg);
	background-color: $color-background-primary;
	bottom: -100px; }

#tagline {
	padding-top: 50px;
	position: relative;
	z-index: 10;
}

